
     <form method="post" action="validate()">
         Forename
         <input type="text" maxlength="32" name="forename">
         Surname
         <input type="text" maxlength="32" name="surname">
         Username
         <input type="text" maxlength="16" name="username">
         Password
         <input type="text" maxlength="12" name="password">
         Age
         <input type="text" maxlength="3" name="age">
         Email
         <input type="text" maxlength="64" name="email">
     </form>
