<div>
<div class="row">
    <form class="col s12" method="POST" onsubmit="return validate()">
      <div class="row">
        <div class="input-field inline">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">{{username}}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field inline">
          <input id="password" type="password" class="validate">
          <label for="password">{{password}}</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light light-green darken-1" type="submit" name="action">{{singin}}
          <i class="material-icons right">send</i>
        </button>
    </form>
  </div>
</div>
