<header>
  <h3>
    <a href="" class="brand-logo">{{ title }}</a>
  </h3>
</header>

<div class="card z-depth-3">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate">
        <label for="username">{{ username }}</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">{{ password }}</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <a class="waves-effect waves-light btn light-green darken-1">{{singin}}</a>
      </div>
    </div>
  </form>
</div>
