@import '../../colors';

a{
  color: $maincolor;
}
header{
  width: 100%;
  text-align: center;
}
.btn {
  color: white !important;
}
.card{
  position: relative;
  top: 25%;
  display: block;
  margin: auto;
  width: 20%;
  padding: 1%;
  background-color: $maingray;
}
/* label color */
.input-field label {
  color: $maincolor;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: $maincolor;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid $maincolor;
  box-shadow: 0 1px 0 0 $maincolor;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid $maindark;
  box-shadow: 0 1px 0 0 $maindark;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid $maindark;
  box-shadow: 0 1px 0 0 $maindark;
}
.input-field input[type=password]:focus + label {
  color: $maincolor;
}
/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid $maincolor;
  box-shadow: 0 1px 0 0 $maincolor;
}
/* valid color */
.input-field input[type=password].valid {
  border-bottom: 1px solid $maindark;
  box-shadow: 0 1px 0 0 $maindark;
}
/* invalid color */
.input-field input[type=password].invalid {
  border-bottom: 1px solid $maindark;
  box-shadow: 0 1px 0 0 $maindark;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: $maindark;
}
